# Maven
target/vprofile-v2.war
# Jenv
.java-version

# Eclipse
.settings/
.classpath
.project

# IntelliJ IDEA
.idea
*.iml

# Branch switching
generated/

.vscode
#VS Code
.factorypath
.project
.vscode